.capa {
    background-color: rgba(249, 249, 236, 0.526);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

* {
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 10vh;
  width: 10vh;
  /* background: rgb(255,255,255); */
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;*/
  position: absolute;
  z-index: 5;
  margin: 80px;
  border-radius: 50%;
  bottom: -90px;
  right: -93px;
}

svg {
  position: fixed;
  cursor: pointer;
}

body {
  font-family: Nunito;
  font-size: 1.2rem;
}

.lados__container{
  width: 100%;
}
footer {
  margin-top: 185px;
  /* margin-left: 40vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos{
  margin-top: -10px;
}

.clientes{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#galeria {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  width: 70vw;
  margin-top: 40px;
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center;
  border-radius: 10px;
}

.galeria__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galeria__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.galeria__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.galeria__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.galeria__item--5 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.contenedor__principal{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 60px;
  padding: 0px 30vw;
}

.seccion {
    position: relative;
    overflow: hidden;

    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 60px;
}
video {
    z-index: 2;
    overflow: hidden;
}

.title {
    position: absolute;
    z-index: 10;
    color: #000000;
    margin-top: 100px;
}

.nombre{
    text-align: center;
   font-weight: bolder;
   font-size: 18px;
}
  
  body {
    background-color: rgba(255, 255, 255, 0.204);
    margin: 0 auto;
    scroll-behavior: smooth;
  }
  
  h1 {
    font-family: miFuente;
    font-size: 90px;
    position: absolute;
    text-align: center;
    z-index: 4;
    color: #000000;
  }
  
  .title {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  
  h3 {
    font-size: 60px;
    text-align: center;
    z-index: 4;
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .canvasContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  #pr {
    width: 100%;
    height: 400px;
  }
  
  #canvas {
    border-radius: 2%;
  }
  
  #otra {
    width: 100%;
    height: 100%;
  }
  
  .texto {
    padding: 0px 70px 0px 70px;
    width: 60vw;
    font-family: Nunito;
  }
  

  .segundoTexto {
    display: none;
    font-family: Nunito;
  }
  .texto p {
    columns: 1;
    font-family: Nunito;
  }
  
  .contactoTitulo {
    width: 100%;
    min-height: 50vw;
  }
  
  #mapa {
    width: 50%;
    height: 100%;
    padding-left: 5vw;
  }
  
  #contactoMapa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    margin-top: 45px;
  }
  
  table {
    font-size: 2.5vh;
    width: 30vw;
  }
  
  .lados{
    width: 100%;
  }
  @media (min-width: 1080px) {
    .texto p {
      font-size: 1.3vw;
    }
  
    .lados {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 50vh;
      margin-top: 45px;
    }
  
    .canvasContainer {
      padding-left: 10%;
    }
    #clientes, #contacto{
      font-size: 5vh;
      width: 100%;
    }
  }
  
  @media (max-width: 1079px) {
    .lados {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .canvasContainer {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .texto p{
      margin-top: 20px;
      font-size: 20px;
      text-align:justify;
    }

    #contactoMapa{
      flex-direction: column;
    }
  }

  @media (max-width: 760px) {
    .title {
      top: 70px;
    }
    .title h1 {
      font-size: 55px;
      top: 30vh;
    }
    .lados {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    h3 {
      font-size: 55px;
    }
    .canvasContainer {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
  
  @media (min-width: 1079px) and (max-width: 1500px) {
    .contenedor__principal{
      padding: 0px 5vw;
    }
    .segundoTexto {
      display: none;
    }
    .texto p {
      columns: 1;
    }
    .canvasContainer {
      width: 55vw;
    }

    h3{
      font-size: 35px;
    }
  }

  @media (min-width: 1500px) {
    .texto p {
      columns: 2;
      column-gap: 2em;
      text-align: justify;
      float: right;
      font-size: 30px;
    }
  }
  